<!DOCTYPE html>
<html>
  <head>
    <title>CRUD Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CRUD Demo</h1>
    <p>Node + Express + Nginx + MongoDB on Docker</p>
    <a href="/memo">Here</a>
  </body>
</html>
