<!DOCTYPE html>
<html>
  <head>
    <title>Memo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Memo List</h1>
    <form action="" method="POST">
      <input type="text" name="memo">
      <button type="submit">送信</button>
    </form>
    <ul>
      <% for (var memo of memoList) {%>
      <li><%= memo %></li>
      <% } %>
    </ul>
  </body>
</html>
