<!DOCTYPE html>
<html>
  <head>
    <title>Memo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Memo List</h1>
    <form action="" method="POST">
      <input type="text" name="memo" size="100">
      <button type="submit">Submit</button>
    </form>
    <ul>
      <% for (var obj of memoList) {%>
      <li>
        <div style="display: inline-flex;">
          <%= obj.memo %>
          <form action="/memo/delete" metho="GET">
            <input type="hidden" name="id" value="<%= obj._id %>">
            <button type="submit">Delete</button>
          </form>
          <form action="/memo/update" metho="GET">
            <input type="hidden" name="id" value="<%= obj._id %>">
            <button type="submit">Update</button>
          </form>
        </div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
