<!DOCTYPE html>
<html>
  <head>
    <title>Memo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Memo Update</h1>
    <form action="" method="POST">
      <input type="text" name="memo" size="100" value="<%= memo %>">
      <button type="submit">update</button>
    </form>
  </body>
</html>
